blockquote p {
	color: $textColor;
	font-style: italic;
	text-align:center;
}

blockquote p::before {
	content: "“";
}

blockquote p::after {
	content: "”";
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
	font-style: italic;
}

.tooltiptext {
	font-style: normal;
	font-size: .8rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.theme-container.glossary-class {
	div.theme-default-content p {
		text-indent: -1.5em;
		padding-left: 1.5em;
	}
}
