blockquote p {
	color: $textColor;
	font-style: italic;
	text-align:center;
}

blockquote p::before {
	content: "“";
}

blockquote p::after {
	content: "”";
}

[data-tippy-content] {
	border-bottom: 1px dotted;
	font-style: italic;
}


.theme-container.glossary-class {
	div.theme-default-content p {
		text-indent: -1.5em;
		padding-left: 1.5em;
	}
}
